/*
LESS Variables
*/

@bg: #fbf4e2; /* Background color */

@base: #3E4157; /* Base text color */
@light: #999; /* Light text color */

@link: #34b490; /* Link text color */
@hover: darken(@link, 8%); /* Link text color(hover) */

@border: #34b490; /* Border coldarken(@link, 8%)@btn: transparent; /* Button Color */
@btn-hover: #3f4057; /* Button Color (hover) */
@btn-primary: #37aed5; /* Primary button color  */
@btn-primary-hover: darken(@btn-primary,8%); /* Primary button color (hover)  */